body {
    background-image: radial-gradient(white, black);
}
.row {
    max-width: 100%;
}
#contactMe {
    margin-top: 15rem;
    margin-left: 11rem; 
    color: white;
    z-index: 10;
}
div.container {
    display: inline-block;
    width: 60%;
}
iframe {
    border: 1px solid black;
    float: right;
    margin-right: 10rem;
}
.btn {
    background-color: black;
    color: rgba(255,255,255,0.5);
    border: 1px solid black;
}
.btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}
.form-control {
    border: 1px solid black;
}
.form-control {
    background-color: lightgray;
}
#formCol {
    margin: 0 10rem;
}
label {
    color: white;
}