.carousel .carousel-inner .carousel-item img {
    height: 400px;
}
.card {
    display:inline-block;
    margin: 1rem;
    background-color: lightgray;
    color: black;
    border: 2px solid transparent;
    width: 20rem;
    text-align:center;
}
.card:hover {
    border: 2px solid black;
    background-color: white; 
}
.card-title {
    color: white;
}
.card-body {
    width: 300px;
}
.card-block {
    margin: 20px;
    overflow: hidden;

}
#card-link { 
    color: black; 
}
.card-img-overlay {
    height: 60%;
}
p.card-text {
    overflow: hidden;
    height: 6rem;
}
h2.card-title:first-letter {
    text-transform: capitalize;    
}
.page-item {
    margin: 0 auto;
}
.page-item.disabled  {
    visibility: hidden;    
}
.page-link {
    background-color: black;
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
}
.page-link:hover {
    background-color: black;
    color: rgba(255,255,255,1);
    border: 1px solid white;
}
.btn-primary {
    color: black;
    background-color: white;
    border: 1px solid black;
}
.btn-primary:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
}