.nav li a {
    color: white;
    opacity: 0.5;
}
.nav li a:hover {
    opacity: 1;
}
#nav-container {
    position: fixed;
}
.navbar-dark .navbar-brand {
    color: red;
}
.navbar {
    background-color: #330b5b;
}
