body {
    background-image: radial-gradient(gray, black);
}
.nav li a {
    color: white;
    opacity: 0.5;
    border: 1px solid black;
}
.nav li a:hover {
    opacity: 1;
    border: 1px solid white;
}
#nav-container {
    position: fixed;
}
.navbar-dark .navbar-brand {
    color: black;
    text-shadow: 1px 1px white;
    font-size: 30px;
}
.navbar {
    background-color: black;
}
/*scroll to top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: 1px solid rgba(255,255,255,0.5);
    outline: none;
    background-color: black;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
#myBtn:hover {
      color: rgba(255,255,255,1);
      border: 1px solid white;
}
.footer-copyright {
      background-color: black;
      color: white;
      position: absolute;
      width: 100%;
}
.footer-copyright h6 {
      color: white;
      padding-left: 5rem;
      display: inline-block;
}
#time {
      float: right;
      padding-right: 10rem;
}
.btn {
    background-color: black;
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
}
.btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}
  
